In [51]:
# List of High Schools

high_schools - ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]
high_schools.pd

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [32]:
# A dictionary of high schools and the type of school. 
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type":"District"},
                    {"High School": "Wilson", "Type":"Charter"},
                    {"High School": "Wright", "Type":"Charter"}]

In [33]:
high_school_types

[{'High School': 'Griffin', 'Type': 'District'},
 {'High School': 'Figueroa', 'Type': 'District'},
 {'High School': 'Wilson', 'Type': 'Charter'},
 {'High School': 'Wright', 'Type': 'Charter'}]

In [44]:
for x in high_school_types:
#     print(x)
    print(f'"High School": "{x["High School"]}", "Type": "{x["Type"]}"')

"High School": "Griffin", "Type": "District"
"High School": "Figueroa", "Type": "District"
"High School": "Wilson", "Type": "Charter"
"High School": "Wright", "Type": "Charter"

In [8]:
# List of High Schools
highSchools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [9]:
import pandas as pd

In [10]:
# Create a pandas series from a list 
schoolSeries=pd.Series(highSchools)
schoolSeries

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [35]:
for ind,val in schoolSeries.iteritems():
    print (ind,val)

0 Huang High School
1 Figueroa High School
2 Shelton High School
3 Hernandez High School
4 Griffin High School
5 Wilson High School
6 Cabrera High School
7 Bailey High School
8 Holden High School
9 Pena High School
10 Wright High School
11 Rodriguez High School
12 Johnson High School
13 Ford High School
14 Thomas High School

In [90]:
print (schoolSeries[0:15])

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [52]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "School Name": "Huang High School", "Type": "District"},
                    {"School ID": 1, "School Name": "Figueroa High School", "Type": "District"},
                    {"School ID": 2, "School Name":"Shelton High School", "Type": "Charter"},
                    {"School ID": 3, "School Name":"Hernandez High School", "Type": "District"},
                    {"School ID": 4, "School Name":"Griffin High School", "Type": "Charter"}]

In [54]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [60]:
# Three seperate lists of information on high schols

schoolId =[0,1,2,3,4]
schoolName = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School" ]
typeOfSchool = ["District", "District", "Charter", "District","Charter"]

Empty DataFrame
Columns: []
Index: []

In [57]:
# Initialize a new dataframe
schools_df = pd.DataFrame()

In [63]:
# Add the list to a new DataFrame
schools_df["School ID"] = schoolId
schools_df["School Name"] = schoolName
schools_df["Type"] = typeOfSchool

# Print the DataFrame
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [66]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': schoolId, 'School_Name':schoolName, 'type':typeOfSchool}
high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'School_Name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [68]:
# Initialize a new dataframe
schools_df = pd.DataFrame()

In [69]:
# Add the list to a new DataFrame
schools_df["School ID"]=schoolId
schools_df["School Name"]=schoolName
schools_df["Type"]= typeOfSchool

# Print
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [75]:
schools_df.columns

Index(['School ID', 'School Name', 'Type'], dtype='object')

In [76]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [78]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [80]:
schoolId =[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
schoolName = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"] 
typeOfSchool = ["District", "District", "Charter", "District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]

schools_df = pd.DataFrame()

schools_df["School ID"]=schoolId
schools_df["School Name"]=schoolName
schools_df["Type"]= typeOfSchool
schools_df

    School ID            School Name      Type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter

In [103]:
import pandas as pd
import os

student_data = os.path.join('..','Resources','new_student_data.csv')
student_df = pd.read_csv(student_data)
student_df.head()

,student_id,student_name,grade,school_name,reading_score,math_score,school_type
0,127008367,Sarah Douglas,11th,Chang High School,87.2,64.1,Public
1,33365505,Francisco Osborne,9th,Fisher High School,NaN,NaN,Public
2,44359500,Ryan Haas,12th,Campbell High School,91.6,54.7,Public
3,24791243,Kathryn Mack,11th,Richard High School,68.9,73.3,Charter
4,121467881,Harold Reynolds,12th,Chang High School,68.7,43.4,Public

In [104]:
student_df["student_name"]

0            Sarah Douglas
1        Francisco Osborne
2                Ryan Haas
3             Kathryn Mack
4          Harold Reynolds
               ...
13935          Kelly Myers
13936       Kimberly Burke
13937      Crystal Merritt
13938        Misty Wiggins
13939        Michele Jones
Name: student_name, Length: 13940, dtype: object